<% if @object.instance_of?(Spree::PaymentMethod::BitPayment) %>
  <% if @object.bit_pay_client and @object.paired? %>
    <div id="bitpay_pairing_status">Authenticated with <%= @object.api_uri %></div>
  <% else %>
    <div id="bitpay_pairing_status">Not Authenticated</div>
  <% end %>
  <%= form_tag(admin_payment_method_bit_payments_authenticate_path) do |f| %>
    <div class="form-group">
      <label>Authenticate with BitPay</label>
      <select class="select2" name="bitcoin_network" id="bitpay_api_uri">
      <option value="https://bitpay.com">LiveNet</option>
      <option value="https://test.bitpay.com">TestNet</option>
      <% if Rails.env == "development" || Rails.env == "test" %>
        <option value=<%= ENV['BPDEVSERVER'] %>>Development</option>
      <% end %>
      </select>
      <input type="hidden" name="redirect_url" value=<%= @_request.original_url %>>
      <input type="hidden" name="payment_method_id" value=<%= @payment_method.id %>>
      <input class="btn btn-primary" type="submit" value="Authenticate with BitPay">
    </div>
  <% end %>
<% end %>
